.DS_Store
.cred_token
/target
/classes
/checkouts
/resources
/.lsp
profiles.clj
pom.xml
.env.local
.env-vars
pom.xml.asc
test/messages/
*.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.calva
.clj-kondo/
.vscode